{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- $name := "Rafael Soares" -}}
{{- /* If name was previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" $name -}}
{{- end -}}

{{- /* Does the same for the email */ -}}
{{- $email := "893971+rafasoares@users.noreply.github.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir: "{{ .chezmoi.sourceDir }}"

git:
  autoCommit: true
  autoPush: true

data:
  name: "{{ $name }}"
  email: "{{ $email }}"
  codespaces: {{ $codespaces }}

diff:
  exclude:
    - scripts

merge:
  command: "code -wm"

status:
  exclude:
    - scripts
