{{ define "gh-helper" -}}
	helper =
	{{ if eq .chezmoi.os "darwin" "linux" }}
	helper = !gh auth git-credential
	{{ end }}
{{- end }}

[credential "https://github.com"]
	{{ template "gh-helper" . }}
[credential "https://gist.github.com"]
	{{ template "gh-helper" . }}

[user]
	email = {{ .email | quote}}
	name = {{ .name | quote }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFWYeyy0b9cZtGcC0rAJN5H3kajsh9HIWUURW+JUBliJ
[gpg]
	format = ssh
[gpg "ssh"]
{{ if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{ end }}
[commit]
	gpgsign = true
[gitbutler]
	signCommits = true
	aiOpenAIKeyOption = bringYourOwn
	aiOpenAIModelName = gpt-4.1-mini
	aiModelProvider = openai
[init]
	defaultBranch = main
[core]
	excludesFile = {{ .chezmoi.homeDir }}/.gitignore_global
[pull]
	rebase = true
