export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

if [ "$(command -v brew)" ]; then
  eval $(brew shellenv)
  export HOMEBREW_NO_ENV_HINTS=1
fi

# Disable telemetry for all tools that respect this variable
export DISABLE_TELEMETRY=1

ZINIT_HOME={{ joinPath .chezmoi.homeDir ".local/share/zinit" }}
source "${ZINIT_HOME}/zinit.zsh"

if [ "$TERM_PROGRAM" != "Apple_Terminal" ]; then
  eval "$(oh-my-posh init zsh --config "$(brew --prefix oh-my-posh)/themes/hotstick.minimal.omp.json")"
fi

# Load custom zsh functions
source $HOME/.config/zsh/functions.zsh

load_custom_aliases() {
  source $HOME/.config/zsh/aliases.zsh
}

# OMZ's git library and plugin must be loaded synchronously
zinit for \
  OMZL::git.zsh \
  OMZL::async_prompt.zsh \
  OMZP::git

zinit wait lucid for \
  as"completion" atinit"zicompinit; zicdreplay" \
    OMZP::aws \
  OMZP::bundler \
  OMZP::colored-man-pages \
  atload"load_custom_aliases" \
    OMZP::common-aliases \
  OMZP::docker-compose \
  OMZP::kubectl \
  OMZP::rails \
  OMZP::yarn \
  as"completion" \
    OMZP::docker/completions/_docker \
  atinit"zicompinit; zicdreplay" \
    zdharma-continuum/fast-syntax-highlighting \
  Aloxaf/fzf-tab \
  zsh-users/zsh-completions \
  zsh-users/zsh-autosuggestions \
  ntnyq/omz-plugin-pnpm

if [ "$(command -v brew)" ]; then
  zinit snippet OMZP::brew
fi

# Load custom zsh aliases
# source $HOME/.config/zsh/aliases.zsh

# Load completions
remove_conflicting_git_completions
fpath=("$(brew --prefix)/share/zsh/site-functions" $fpath)
zicompinit

# Bind history search to up and down arrow keys
bindkey '^[[A' history-search-backward
bindkey '^[[B' history-search-forward

# Configure history
HISTFILE=$HOME/.config/zsh/.zsh_history
HISTSIZE=10000
SAVEHIST=$HISTSIZE
HISTDUP=erase
setopt appendhistory
setopt sharehistory
setopt hist_ignore_dups
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_find_no_dups
setopt hist_ignore_space

# Configure corrections
unsetopt correct_all
setopt correct
unsetopt nomatch

# Configure completion
COMPLETION_WAITING_DOTS="true"
# disable sort when completing `git checkout`
zstyle ':completion:*:git-checkout:*' sort false
# set descriptions format to enable group support
# NOTE: don't use escape sequences here, fzf-tab will ignore them
zstyle ':completion:*:descriptions' format '[%d]'
# set list-colors to enable filename colorizing
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
# force zsh not to show completion menu, which allows fzf-tab to capture the unambiguous prefix
zstyle ':completion:*' menu no
# switch group using `<` and `>`
zstyle ':fzf-tab:*' switch-group '<' '>'
# Match lower case characters to upper case. Eg. `foo` will also match `Foo` and `FOO``
zstyle ':completion:*' matcher-list 'm:{[:lower:]}={[:upper:]}' '+l:|=* r:|=*'

# preview directory's content with eza when completing cd
if [ "$(command -v eza)" ]; then
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'eza -1 --icons --group-directories-first --git --color=always $realpath'
zstyle ':fzf-tab:complete:z:*' fzf-preview 'eza -1 --icons --group-directories-first --git --color=always $realpath'
fi

zstyle ':completion:*:*:docker:*' option-stacking yes
zstyle ':completion:*:*:docker-*:*' option-stacking yes

# Load external utilities
[ "$(command -v but)" ] && eval "$(but completions zsh)"
[ "$(command -v chezmoi)" ] && eval "$(chezmoi completion zsh)"
[ "$(command -v fzf)" ] && source <(fzf --zsh)
[ "$(command -v fnm)" ] && eval "$(fnm env --use-on-cd)"
[ "$(command -v zoxide)" ] && eval "$(zoxide init --cmd z zsh)"

# Set the editor
if [ "$(command -v code)" ]; then
  export EDITOR="code -w"
elif [ "$(command -v nvim)" ]; then
  export EDITOR="nvim"
else
  export EDITOR="vim"
fi

{{ if eq .chezmoi.os "linux" }}
# Configure Homebrew on Linux, if available
if [ -d /home/linuxbrew/.linuxbrew ]; then
  eval $(/home/linuxbrew/.linuxbrew/bin/brew shellenv)
fi
{{ end }}

# replay completions
zicdreplay

# qlty completions
[ -s "/opt/homebrew/share/zsh/site-functions/_qlty" ] && source "/opt/homebrew/share/zsh/site-functions/_qlty"

# qlty
export QLTY_INSTALL="$HOME/.qlty"
export PATH="$QLTY_INSTALL/bin:$PATH"

# Add ccache to the path
if [ "$(command -v brew)" ]; then
  ccache=$(brew --prefix ccache)
  if [ -d "$ccache" ]; then
    export PATH="$ccache/libexec:$PATH"
  fi
fi

# Add cargo binaries to the path
export PATH="$PATH:$HOME/.cargo/bin"

# Add .local bin to the path
export PATH="$PATH:$HOME/.local/bin"

# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
export PATH="$PATH:$HOME/.rvm/bin"


source /Users/rafasoares/.config/op/plugins.sh
