export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

{{ if eq .chezmoi.os "darwin" }}
HOMEBREW_NO_ENV_HINTS=1
eval $(brew shellenv)
{{ end }}


ZINIT_HOME={{ joinPath .chezmoi.homeDir ".local/share/zinit" }}
source "${ZINIT_HOME}/zinit.zsh"

# Load oh-my-zsh plugins
zi ice as'completion'; zi snippet OMZP::docker/completions/_docker

zinit snippet OMZP::aliases
zinit snippet OMZP::bundler
zinit snippet OMZP::common-aliases
zinit snippet OMZP::colored-man-pages
zinit snippet OMZP::docker-compose
zinit snippet OMZP::git
zinit snippet OMZP::rails

# Load zinit plugins
zinit light zdharma-continuum/fast-syntax-highlighting
zinit light zsh-users/zsh-completions
zinit light zsh-users/zsh-autosuggestions
zinit light Aloxaf/fzf-tab
zinit light ntnyq/omz-plugin-pnpm

{{- if eq .chezmoi.os "darwin" }}
zinit snippet OMZP::brew
{{- end }}

# Load completions
zicompinit; zicdreplay

# Load powerlevel10k theme
POWERLEVEL9K_DISABLE_CONFIGURATION_WIZARD=true
zinit ice depth"1" # git clone depth
zinit light romkatv/powerlevel10k

# Bind history search to up and down arrow keys
bindkey '^[[A' history-search-backward
bindkey '^[[B' history-search-forward

# Configure history
HISTFILE=$HOME/.config/zsh/.zsh_history
HISTSIZE=10000
SAVEHIST=$HISTSIZE
HISTDUP=erase
setopt appendhistory
setopt sharehistory
setopt hist_ignore_dups
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_find_no_dups
setopt hist_ignore_space

# Configure corrections
unsetopt correct_all
setopt correct
unsetopt nomatch

# Configure completion
COMPLETION_WAITING_DOTS="true"
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}'
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"
zstyle ':completion:*' menu no
if [ "$(command -v eza)" ]; then
list='eza --icons --group-directories-first --git --color=always'
zstyle ':fzf-tab:complete:cd:*' fzf-preview "${list} $realpath"
zstyle ':fzf-tab:complete:z:*' fzf-preview "${list} $realpath"
fi
zstyle ':completion:*:*:docker:*' option-stacking yes
zstyle ':completion:*:*:docker-*:*' option-stacking yes

# Load custom zsh configuration
for file in $HOME/.config/zsh/*.zsh; do source "$file"; done


# Load external utilities
[ $(command -v chezmoi) ] && eval "$(chezmoi completion zsh)"
[ "$(command -v fzf)" ] && eval "$(fzf --zsh)"
[ "$(command -v zoxide)" ] && eval "$(zoxide init zsh)"
[ "$(command -v fnm)" ] && eval "$(fnm env --use-on-cd)"
[ "$(command -v scloud)" ] && eval "$(scloud --shell zsh)"

# Set the editor
if [ "$(command -v code)" ]; then
  export EDITOR="code -w"
elif [ "$(command -v nvim)" ]; then
  export EDITOR="nvim"
else
  export EDITOR="vim"
fi

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ -f ~/.config/.pl10k.zsh ]] && source ~/.config/.pl10k.zsh
