{{ if eq .chezmoi.os "darwin" "linux" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.homebrew.taps -}}
tap {{ . | quote }}
{{ end }}

{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end }}
{{ end }}

{{ range .packages.homebrew.brews -}}
brew {{ . | quote }}
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ end }}

{{ range .packages.homebrew.casks -}}
cask {{ . | quote }}
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end }}

EOF
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
  {{ if eq .chezmoi.osRelease.idLike "debian" -}}
sudo apt-get update -y

sudo apt-get install -y {{ range .packages.apt -}} {{ . | quote }} {{ end }}

  {{ end -}}
{{ end }}
