#!{{ lookPath "bash" }}

{{ if eq .chezmoi.os "linux" -}}
  {{- if eq .chezmoi.osRelease.idLike "debian" -}}
sudo apt update -y
sudo apt install -y {{ range .packages.linux.apt }}{{ . | quote }} {{ end }}
  {{- end }}
{{- end }}

{{ define "homebrew-packages" -}}
{{- $type := .type -}}
{{- $packages := list -}}
{{- range pluck .type .packages.all (get .packages .chezmoi.os) -}}{{- $packages = concat $packages . -}}{{- end -}}

{{ range $packages -}}
{{ $type }} {{ . | quote }}
{{ end }}

{{- end }}

{{ if eq .chezmoi.os "darwin" "linux" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ template "homebrew-packages" set (deepCopy .) "type" "tap" }}
{{ template "homebrew-packages" set (deepCopy .) "type" "brew" }}
{{ template "homebrew-packages" set (deepCopy .) "type" "cask" }}
EOF
{{- end }}
